// ========================================
// _footer.scss
// ========================================

// ---------------------------------
// .Footer
// ---------------------------------
.Footer {
  background-color: $black-900;
  color: $white;
  height: 50px;
}

.site-footer-logo {
  padding-top: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}
