// ========================================
// _page.scss
// ========================================

// ---------------------------------
// Reset
// ---------------------------------
html,
body,
div,
span {margin: 0;padding: 0;}

img {max-width: 100%;vertical-align: bottom;}
table {border: 0;border-collapse: collapse;border-spacing: 0;}
*:focus {outline: none;}


// ---------------------------------
// Global
// ---------------------------------
* {
  font-family: $site-font-family;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
}

html {
  font-size: $site-font-size;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: $color-site-bg;
  color: $color-site-txt;
  font-size: 1.6rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  overflow-x: hidden;
  position: relative;
  text-size-adjust: 100%;
  word-wrap: break-word;
}



// ---------------------------------
// Common Page Layouts
// ---------------------------------
// .site-wrapper {}
