// ========================================
// utilities.scss
// ========================================

// ---------------------------------
// Font
// ---------------------------------
// cmn
// ------------------------------
$site-font-size: 10px;
$site-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;


// ---------------------------------
// Text
// ---------------------------------
// cmn
// ------------------------------
$color-site-txt: #fff; // $white
$color-site-txt-rvs: #000; // $black


// ---------------------------------
// Bg
// ---------------------------------
// cmn
// ------------------------------
$color-site-bg: #000; // $black


// ---------------------------------
// Margin
// ---------------------------------
// cmn
// ------------------------------
.mb-10px {margin-bottom: 10px;}


// ---------------------------------
// State
// ---------------------------------
// hover
// ------------------------------
