// ========================================
// utilities.scss
// ========================================
/* stylelint-disable */

// ---------------------------------
// Colors
// ---------------------------------

// text
// ------------------------------
// *** global
.color-white { color: $white !important; }
.color-black { color: $black !important; }
.color-gray { color: $gray !important; }
.color-orange { color: $orange !important; }
.color-green { color: $green !important; }
// *** role
.color-body { color: $body-color !important; }
.color-body-bg { color: $body-bg !important; }
.color-body-rvs { color: $body-rvs-color !important; }
.color-body-rvs-bg { color: $body-rvs-bg !important; }

// bg
// ------------------------------
// *** global
.bg-green { background: $green !important; }
.bg-orange { background: $orange !important; }
.bg-white { background: $white !important; }
.bg-black { background: $black !important; }
.bg-gray { background: $gray !important; }

// *** role
.bg-accent1 { background: $color-accent-bg1 !important; }
.bg-accent2 { background: $color-accent-bg2 !important; }
.bg-accent3 { background: $color-accent-bg3 !important; }
.bg-accent4 { background: $color-accent-bg4 !important; }
.bg-accent5 { background: $color-accent-bg5 !important; }
.bg-accent6 { background: $color-accent-bg6 !important; }
.bg-accent7 { background: $color-accent-bg7 !important; }
.bg-accent8 { background: $color-accent-bg8 !important; }


// ---------------------------------
// Sizes
// ---------------------------------

// width / height
// ------------------------------
// [note] Extended Bootstrap $sizes / use Bootstrap utilities.
// ex) .w-300px = width: 300px;
// ex) .h-30 = height: 30%;

// max-width
// ------------------------------
// [note] Extended Bootstrap $sizes and difined my utilities below / use my utilities.
// ex) .mw-500px = max-width: 500px;
// ex) .mw-50 = max-width: 50%;
@each $key, $val in $sizes {
  .mw-#{$key} {
    max-width: #{$val} !important;
  }
}

// glid-width
// ------------------------------
// extend bootstrap 指定したサイズ以上がその値%でfixされる。 w-100やw-75などと併用する
.w-xs-100 { @include media-breakpoint-up(xs) { width: 100% !important;} }
.w-sm-100 { @include media-breakpoint-up(sm) { width: 100% !important;} }
.w-md-100 { @include media-breakpoint-up(md) { width: 100% !important;} }
.w-lg-100 { @include media-breakpoint-up(lg) { width: 100% !important;} }
.w-xs-90 { @include media-breakpoint-up(xs) { width: 90% !important;} }
.w-sm-90 { @include media-breakpoint-up(sm) { width: 90% !important;} }
.w-md-90 { @include media-breakpoint-up(md) { width: 90% !important;} }
.w-lg-90 { @include media-breakpoint-up(lg) { width: 90% !important;} }
.w-xs-80 { @include media-breakpoint-up(xs) { width: 80% !important;} }
.w-sm-80 { @include media-breakpoint-up(sm) { width: 80% !important;} }
.w-md-80 { @include media-breakpoint-up(md) { width: 80% !important;} }
.w-lg-80 { @include media-breakpoint-up(lg) { width: 80% !important;} }
.w-xs-75 { @include media-breakpoint-up(xs) { width: 75% !important;} }
.w-sm-75 { @include media-breakpoint-up(sm) { width: 75% !important;} }
.w-md-75 { @include media-breakpoint-up(md) { width: 75% !important;} }
.w-lg-75 { @include media-breakpoint-up(lg) { width: 75% !important;} }
.w-xs-50 { @include media-breakpoint-up(xs) { width: 50% !important;} }
.w-sm-50 { @include media-breakpoint-up(sm) { width: 50% !important;} }
.w-md-50 { @include media-breakpoint-up(md) { width: 50% !important;} }
.w-lg-50 { @include media-breakpoint-up(lg) { width: 50% !important;} }
.w-xs-40 { @include media-breakpoint-up(xs) { width: 40% !important;} }
.w-sm-40 { @include media-breakpoint-up(sm) { width: 40% !important;} }
.w-md-40 { @include media-breakpoint-up(md) { width: 40% !important;} }
.w-lg-40 { @include media-breakpoint-up(lg) { width: 40% !important;} }
.w-xs-25 { @include media-breakpoint-up(xs) { width: 25% !important;} }
.w-sm-25 { @include media-breakpoint-up(sm) { width: 25% !important;} }
.w-md-25 { @include media-breakpoint-up(md) { width: 25% !important;} }
.w-lg-25 { @include media-breakpoint-up(lg) { width: 25% !important;} }
.w-xs-auto { @include media-breakpoint-up(xs) { width: auto !important;} }
.w-sm-auto { @include media-breakpoint-up(sm) { width: auto !important;} }
.w-md-auto { @include media-breakpoint-up(md) { width: auto !important;} }
.w-lg-auto { @include media-breakpoint-up(lg) { width: auto !important;} }
/* stylelint-enable */
