// ========================================
// variables.scss
// ========================================

// [note] These definitions also include overriding & extending Bootstrap.

// ---------------------------------
// Fonts ※Override
// ---------------------------------
$font-size-base: 1.6rem;
// [note] $font-family-base = $font-family-sans-serif
$font-family-sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif, Yu Gothic;


// ---------------------------------
// Color System
// ---------------------------------

// Mono ※ Override & Extend
// ------------------------------
$white: #fff;

$black: #000;
$black-600: #5c5c5c;
$black-700: #464646;
$black-800: #2e2e2e;
$black-900: #181818;

$gray: #676767;
$gray-100: #f7f8f8;
$gray-200: #f1f2f3;
$gray-300: #e8ebee;
$gray-400: #e8e8e8;
$gray-500: #d9d9d9;
$gray-600: #d1d1d1;
$gray-700: #c0c1c2;
$gray-800: #8b8b8b;
$gray-900: #818181;


// Orange ※ Override & Extend
// ------------------------------
$orange: #f83023;
$orange-100: #fee9e7;
$orange-200: #fdd4d2;
$orange-300: #fcbfbb;
$orange-400: #fcaba6;
$orange-500: #fb9690;
$orange-600: #fa827a;
$orange-700: #fa6d64;
$orange-800: #f9594e;
$orange-900: #ff473b;

$oranges: ();
// stylelint-disable-next-line scss/dollar-variable-default
$oranges: map-merge(
  (
    "100": $orange-100,
    "200": $orange-200,
    "300": $orange-300,
    "400": $orange-400,
    "500": $orange-500,
    "600": $orange-600,
    "700": $orange-700,
    "800": $orange-800,
    "900": $orange-900
  ),
  $oranges
);


// Green ※ Override & Extend
// ------------------------------
$green: #05792d;
$green-100: #e4f0e8;
$green-200: #cce3d4;
$green-300: #b2d6bf;
$green-400: #9acc9a;
$green-500: #81bb95;
$green-600: #68ae80;
$green-700: #4fa06b;
$green-800: #369356;
$green-900: #009132;

$greens: ();
// stylelint-disable-next-line scss/dollar-variable-default
$greens: map-merge(
  (
    "100": $green-100,
    "200": $green-200,
    "300": $green-300,
    "400": $green-400,
    "500": $green-500,
    "600": $green-600,
    "700": $green-700,
    "800": $green-800,
    "900": $green-900
  ),
  $greens
);


// Alpha
// ------------------------------
$color-black-alpha20: rgba(0, 0, 0, .2);
$color-black-alpha30: rgba(0, 0, 0, .4);
$color-black-alpha40: rgba(0, 0, 0, .4);
$color-black-alpha60: rgba(0, 0, 0, .6);
$color-black-alpha80: rgba(0, 0, 0, .8);
$color-white-alpha20: rgba(255, 255, 255, .2);
$color-white-alpha40: rgba(255, 255, 255, .4);
$color-white-alpha60: rgba(255, 255, 255, .6);
$color-white-alpha80: rgba(255, 255, 255, .8);
$color-white-alpha90: rgba(255, 255, 255, .9);


// ---------------------------------
// Colors
// ---------------------------------

// Bootstrap ※ Override
// ------------------------------
$primary: $gray;
$secondary: #456;
$success: #789;
$info: #789;
$warning: #789;
$danger: #789;
$light: #789;
$dark: #789;
// The primary button color is light. To let primary buttons have a light text color,
// the threshold needs to upped.
// $yiq-contrasted-threshold: 175;

// Bg
// ------------------------------
$color-accent-bg1: $green-200;
$color-accent-bg2: $gray-700;
$color-accent-bg3: $gray-200;



// ---------------------------------
// Body
// ---------------------------------
$body-bg: $white;
$body-color: $black-900;
$body-rvs-bg: $body-color;
$body-rvs-color: $body-bg;


// ---------------------------------
// Links
// ---------------------------------
$link-color: $orange-900;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;


// ---------------------------------
// Grid columns / Spacers *Extend
// ---------------------------------
$grid-gutter-width: 30px;
$spacer-cmn: $grid-gutter-width / 2;

// ex) .mb-3 = margin-bottom: 1rem;
// ------------------------------
$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((
  // ↓[note] Already defined
  // 0: 0,
  // 1: ($spacer * .25),
  // 2: ($spacer * .5),
  // 3: $spacer,
  // 4: ($spacer * 1.5),
  // 5: ($spacer * 3),
  // ↑[note] Already defined
  6: ($spacer * 4.5),
  7: ($spacer * 6),
  8: ($spacer * 7.5),
  9: ($spacer * 9),
  cmn: $spacer-cmn
), $spacers);


// ---------------------------------
// Sizes
// ---------------------------------

// $sizes
// ex) .w-90 = width: 90%;
// ------------------------------
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge((
  // ↓[note] Already defined
  // 25: 25%,
  // 50: 50%,
  // 75: 75%,
  // 100: 100%,
  // auto: auto
  // ↑[note] Already defined
  90: 90%,
  80: 80%,
  70: 70%,
  60: 60%,
  40: 40%,
  30: 30%,
  900px: 900px,
  800px: 800px,
  700px: 700px,
  600px: 600px,
  500px: 500px,
  400px: 400px,
  300px: 300px
), $sizes);


// ---------------------------------
// Grid breakpoints
// ---------------------------------
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// );


// ---------------------------------
// Grid containers
// ---------------------------------
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px
// );



// ---------------------------------
// Buttons + Forms
// ---------------------------------
// $input-btn-padding-y: 0.5rem;
// $btn-padding-x: 2rem;
