// ========================================
// variables.scss
// ========================================

// ---------------------------------
// Colors
// ---------------------------------

// General Color
// ------------------------------
$black: #000;
$white: #fff;
$gray: #787;



// Alpha Mono Color
// ------------------------------
$color-black-alpha20: rgba(0, 0, 0, .2);
$color-black-alpha30: rgba(0, 0, 0, .4);
$color-black-alpha40: rgba(0, 0, 0, .4);
$color-black-alpha60: rgba(0, 0, 0, .6);
$color-black-alpha80: rgba(0, 0, 0, .8);
$color-white-alpha20: rgba(255, 255, 255, .2);
$color-white-alpha40: rgba(255, 255, 255, .4);
$color-white-alpha60: rgba(255, 255, 255, .6);
$color-white-alpha80: rgba(255, 255, 255, .8);
$color-white-alpha90: rgba(255, 255, 255, .9);
