// ========================================
// variables.scss
// ========================================

// [note] These definitions also include overriding & extending Bootstrap.

// ---------------------------------
// Fonts ※Override
// ---------------------------------
$font-size-base: 1.6rem;
// [note] $font-family-base = $font-family-sans-serif
$font-family-sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif, Yu Gothic;


// ---------------------------------
// Color System
// ---------------------------------

// Mono ※ Override & Extend
// ------------------------------
$white: #fff;

$black: #000;
$black-100: #e4e4e4;
$black-200: #cbcbcb;
$black-300: #b1b1b1;
$black-400: #989898;
$black-500: #7e7e7e;
$black-600: #656565;
$black-700: #4b4b4b;
$black-800: #323232;
$black-900: #181818;

$gray: #808080;
$gray-100: #f1f1f1;
$gray-200: #e5e5e5;
$gray-300: #d8d8d8;
$gray-400: #cbcbcb;
$gray-500: #bfbfbf;
$gray-600: #b2b2b2;
$gray-700: #a5a5a5;
$gray-800: #999;
$gray-900: #8c8c8c;


// Red ※ Override & Extend
// ------------------------------
$red: #f00;
$red-100: #ffe4e4;
$red-200: #ffcbcb;
$red-300: #ffb1b1;
$red-400: #ff9898;
$red-500: #ff7e7e;
$red-600: #ff6565;
$red-700: #ff4b4b;
$red-800: #ff3232;
$red-900: #ff1818;

$reds: ();
// stylelint-disable-next-line scss/dollar-variable-default
$reds: map-merge(
  (
    "100": $red-100,
    "200": $red-200,
    "300": $red-300,
    "400": $red-400,
    "500": $red-500,
    "600": $red-600,
    "700": $red-700,
    "800": $red-800,
    "900": $red-900
  ),
  $reds
);


// Tomato ※ Override
// ------------------------------
$tomato: #ff6347;
$tomato-100: #ffeeeb;
$tomato-200: #ffdfd9;
$tomato-300: #ffcfc6;
$tomato-400: #ffc0b4;
$tomato-500: #ffb0a2;
$tomato-600: #ffa190;
$tomato-700: #ff917d;
$tomato-800: #ff826b;
$tomato-900: #ff7258;

$tomatos: ();
// stylelint-disable-next-line scss/dollar-variable-default
$tomatos: map-merge(
  (
    "100": $tomato-100,
    "200": $tomato-200,
    "300": $tomato-300,
    "400": $tomato-400,
    "500": $tomato-500,
    "600": $tomato-600,
    "700": $tomato-700,
    "800": $tomato-800,
    "900": $tomato-900
  ),
  $tomatos
);


// Blue ※ Override & Extend
// ------------------------------
$blue: #165e83;
$blue-100: #e6eef1;
$blue-200: #cfdee5;
$blue-300: #b8cdd9;
$blue-400: #a1becd;
$blue-500: #89adc0;
$blue-600: #729eb4;
$blue-700: #5b8da7;
$blue-800: #447e9b;
$blue-900: #2c6d8f;

$blues: ();
// stylelint-disable-next-line scss/dollar-variable-default
$blues: map-merge(
  (
    "100": $blue-100,
    "200": $blue-200,
    "300": $blue-300,
    "400": $blue-400,
    "500": $blue-500,
    "600": $blue-600,
    "700": $blue-700,
    "800": $blue-800,
    "900": $blue-900
  ),
  $blues
);


// Dark Cyan ※ Extend
// ------------------------------
$dark-cyan: #008b8b;
$dark-cyan-100: #e4f2f2;
$dark-cyan-200: #cbe7e7;
$dark-cyan-300: #b1dbdb;
$dark-cyan-400: #98d0d0;
$dark-cyan-500: #7ec4c4;
$dark-cyan-600: #65b9b9;
$dark-cyan-700: #4badad;
$dark-cyan-800: #4badad;
$dark-cyan-900: #189696;

$dark-cyans: ();
// stylelint-disable-next-line scss/dollar-variable-default
$dark-cyans: map-merge(
  (
    "100": $dark-cyan-100,
    "200": $dark-cyan-200,
    "300": $dark-cyan-300,
    "400": $dark-cyan-400,
    "500": $dark-cyan-500,
    "600": $dark-cyan-600,
    "700": $dark-cyan-700,
    "800": $dark-cyan-800,
    "900": $dark-cyan-900
  ),
  $dark-cyans
);


// Orange ※ Override & Extend
// ------------------------------
$orange: #ff8c00;
$orange-100: #fff2e4;
$orange-200: #ffe7cb;
$orange-300: #ffdbb1;
$orange-400: #ffd098;
$orange-500: #ffc57e;
$orange-600: #ffb965;
$orange-700: #ffae4b;
$orange-800: #ffa232;
$orange-900: #ff9718;

$oranges: ();
// stylelint-disable-next-line scss/dollar-variable-default
$oranges: map-merge(
  (
    "100": $orange-100,
    "200": $orange-200,
    "300": $orange-300,
    "400": $orange-400,
    "500": $orange-500,
    "600": $orange-600,
    "700": $orange-700,
    "800": $orange-800,
    "900": $orange-900
  ),
  $oranges
);


// Green ※ Override & Extend
// ------------------------------
$green: #008000;
$green-100: #e4f1e4;
$green-200: #cbe5cb;
$green-300: #b1d8b1;
$green-400: #98cb98;
$green-500: #7ebf7e;
$green-600: #65b265;
$green-700: #4ba54b;
$green-800: #329932;
$green-900: #188c18;

$greens: ();
// stylelint-disable-next-line scss/dollar-variable-default
$greens: map-merge(
  (
    "100": $green-100,
    "200": $green-200,
    "300": $green-300,
    "400": $green-400,
    "500": $green-500,
    "600": $green-600,
    "700": $green-700,
    "800": $green-800,
    "900": $green-900
  ),
  $greens
);


// Olive ※ Override
// ------------------------------
$olive: #808000;
$olive-100: #f1f1e4;
$olive-200: #e5e5cb;
$olive-300: #d8d8b1;
$olive-400: #cbcb98;
$olive-500: #bfbf7e;
$olive-600: #b2b265;
$olive-700: #a5a54b;
$olive-800: #999932;
$olive-900: #8c8c18;

$olives: ();
// stylelint-disable-next-line scss/dollar-variable-default
$olives: map-merge(
  (
    "100": $olive-100,
    "200": $olive-200,
    "300": $olive-300,
    "400": $olive-400,
    "500": $olive-500,
    "600": $olive-600,
    "700": $olive-700,
    "800": $olive-800,
    "900": $olive-900
  ),
  $olives
);


// Alpha
// ------------------------------
$color-black-alpha20: rgba(0, 0, 0, .2);
$color-black-alpha30: rgba(0, 0, 0, .4);
$color-black-alpha40: rgba(0, 0, 0, .4);
$color-black-alpha60: rgba(0, 0, 0, .6);
$color-black-alpha80: rgba(0, 0, 0, .8);
$color-white-alpha20: rgba(255, 255, 255, .2);
$color-white-alpha40: rgba(255, 255, 255, .4);
$color-white-alpha60: rgba(255, 255, 255, .6);
$color-white-alpha80: rgba(255, 255, 255, .8);
$color-white-alpha90: rgba(255, 255, 255, .9);


// ---------------------------------
// Colors
// ---------------------------------

// Bootstrap ※ Override
// ------------------------------
$primary: $blue;
$secondary: $olive;
$success: $orange;
$info: $dark-cyan;
$warning: $tomato;
$danger: $red;
$light: $white;
$dark: $black;
// The primary button color is light. To let primary buttons have a light text color,
// the threshold needs to upped.
// $yiq-contrasted-threshold: 175;

// Bg
// ------------------------------
$color-accent-bg1: $gray-200;
$color-accent-bg2: $blue-200;
$color-accent-bg3: $olive-200;
$color-accent-bg5: $orange-200;
$color-accent-bg4: $dark-cyan-200;
$color-accent-bg6: $tomato-200;
$color-accent-bg7: $red-200;
$color-accent-bg8: $green-200;


// ---------------------------------
// Body
// ---------------------------------
$body-bg: $white;
$body-color: $black-900;
$body-rvs-bg: $body-color;
$body-rvs-color: $body-bg;


// ---------------------------------
// Links
// ---------------------------------
$link-color: $blue;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;


// ---------------------------------
// Grid columns / Spacers *Extend
// ---------------------------------
$grid-gutter-width: 30px;
$spacer-cmn: $grid-gutter-width / 2;

// ex) .mb-3 = margin-bottom: 1rem;
// ------------------------------
$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((
  // ↓[note] Already defined
  // 0: 0,
  // 1: ($spacer * .25),
  // 2: ($spacer * .5),
  // 3: $spacer,
  // 4: ($spacer * 1.5),
  // 5: ($spacer * 3),
  // ↑[note] Already defined
  6: ($spacer * 4.5),
  7: ($spacer * 6),
  8: ($spacer * 7.5),
  9: ($spacer * 9),
  cmn: $spacer-cmn
), $spacers);


// ---------------------------------
// Sizes
// ---------------------------------

// $sizes
// ex) .w-90 = width: 90%;
// ------------------------------
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge((
  // ↓[note] Already defined
  // 25: 25%,
  // 50: 50%,
  // 75: 75%,
  // 100: 100%,
  // auto: auto
  // ↑[note] Already defined
  90: 90%,
  80: 80%,
  70: 70%,
  60: 60%,
  40: 40%,
  30: 30%,
  900px: 900px,
  800px: 800px,
  700px: 700px,
  600px: 600px,
  500px: 500px,
  400px: 400px,
  300px: 300px
), $sizes);


// ---------------------------------
// Grid breakpoints
// ---------------------------------
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// );


// ---------------------------------
// Grid containers
// ---------------------------------
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px
// );


// ---------------------------------
// Buttons + Forms
// ---------------------------------
// $input-btn-padding-y: 0.5rem;
// $btn-padding-x: 2rem;
